extends layout
 
block content
  h1= title
  hr
  form(action="post",method="post")
    label(for="username") Username
    br
    input(type="text",name="username")
    br
    br
    label(for="password") Password
    br
    input(type="password",name="password")
    br
    br
    input(type="submit",value="Login")